* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}
.fetchBtn {
  margin: 1vw auto;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: red;
  /* border: 3px solid yellow; */
  box-shadow: 3px 3px 0px yellow;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 12pt;
  display: block;
  outline: none;
  border: none;
}
.fetchBtn:hover {
  margin: 1vw auto;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: yellow;
  color: red;
  font-weight: bold;
  cursor: pointer;
  font-size: 12pt;
  display: block;
  box-shadow: 3px 3px 0px red;
  outline: none;
  border: none;
}
.pokemonChars {
  margin: 20px;
}
